<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div align="center" class="container-fluid text-center">
    <h2>Product system</h2>
    <div class="container">
        <p>This system helps to manage product of any store,shop...</p>
        <p>It allows saving product, updating and deleting product information</p>
        <p>to get tarted, please <a class="h6" th:href="@{/product}" >Click here</a> </p>
    </div>
</div>

</body>
</html>